@model Garage.Models.User

<h1>Create User</h1>

<form asp-action="Create" method="post">
    <div>
        <label for="PersonalNumber">Personal Number:</label>
        <input type="text" id="PersonalNumber" name="PersonalNumber" />
    </div> 
    <div>
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" />
    </div>
    <div>
        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" />
    </div>
    <div>
        <label for="Age">Age:</label>
        <input type="text" id="Age" name="Age" />
    </div>
    <div>
        <label for="VehicleId">Vehicle Id:</label>
        <input type="text" id="VehicleId" name="VehicleId" />
    </div>
    <button type="submit">Create</button>
</form>

