@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
<div class="custom-container3 d-flex justify-content-between align-items-start">
    <form asp-controller="User" asp-action="AddVehicleTypeSeedsToDb" method="post">
        <button type="submit">Seed VehicleTypes</button>
    </form>
</div>
<br />
<div class="custom-container3 d-flex justify-content-between align-items-start">
    <form asp-controller="User" asp-action="WipeAllUsers" method="post">
        <button type="submit">Wipe Users</button>
    </form>
</div>