@{
    ViewData["Title"] = "Home Page";
}

<div class="custom-container3 d-flex justify-content-between align-items-start">
    <form asp-controller="Seed" asp-action="SeedDatabase" method="post">
        <button type="submit">Seed Vehicles</button>
    </form>
</div>
<br />
@* <div class="custom-container3 d-flex justify-content-between align-items-start">
    <form asp-controller="Vehicles" asp-action="WipeAllVehicles" method="post">
        <button type="submit">Wipe Vehicles</button>
    </form>
</div>
<br />
<div class="custom-container3 d-flex justify-content-between align-items-start">
    <form asp-controller="VehicleType" asp-action="AddVehicleTypeSeedsToDb" method="post">
        <button type="submit">Seed VehicleTypes</button>
    </form>
</div>
<br />
<div class="custom-container3 d-flex justify-content-between align-items-start">
    <form asp-controller="User" asp-action="WipeAllUsers" method="post">
        <button type="submit">Wipe Users</button>
    </form>
</div> *@