@{
    ViewData["Title"] = "Home Page";
}

<h2>Garage Status</h2>

<p>Slots in Garage: @Model.MaxSlots</p>

<h3>Vehicles in Garage</h3> 
<ul>
    @foreach (var vehicle in Model.VehiclesInGarage)
    {
        <li>Vehicle RegNumber: @vehicle.RegNumber</li>
    }
</ul>
