@model IEnumerable<Garage.Models.ParkingEvent>

@{
    ViewData["Title"] = "Index";
}
<h1>ParkingEvents</h1>

<table border="1" cellspacing="0" cellpadding="5">
    <thead style="background-color: #f2f2f2;">
        <tr>
            <th style="padding: 10px;">CheckInTime</th>
            <th style="padding: 10px;">CheckOutTime</th>
            <th style="padding: 10px;">Vehicle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var parkingEvent in Model)
        {
            <tr>
                <td style="padding: 10px;">@parkingEvent.CheckInTime</td>
                <td style="padding: 10px;">@parkingEvent.CheckOutTime</td>
                <td style="padding: 10px;">@parkingEvent.Vehicle.RegNumber</td>
            </tr>
        }
    </tbody>
</table>